


/* body { */

/* 	font-family: Verdana, arial, sans-serif; */
/* 	font-size: 12px; */
/* } */

html, body {
  height:100%;
}
body {
  display:flex;
  align-items:center;
  background-image:url(../images/login.jpg) ;
  background-repeat:no-repeat;
  background-size:cover;
}

