body {
	margin: 0;
	padding: 0;
}

.buttonMenu {
	background-color: #303942;
	color: white;
}

.row-space {
	margin-top: 10px;
}

.fontSize10px {
	font-size: 11px;
}

.fontSize14px {
	font-size: 0px;
	!
	important
}

.backGroundf2f2f2 {
	background-color: #f2f2f2;
}

.backGround303942 {
	background-color: #303942;
}

.width100 {
	width: 100%;
	!
	important
}

.headerCard {
	font-size: 12px;
	height: 18px;
	font-weight: bold;
	padding: 0;
	padding-left: 4px;
}

.headerCardPublish {
	font-size: 12px;
	height: 40px;
	font-weight: bold;
	padding: 0;
	padding-left: 4px;
}

.searchBar {
	background-color: transparent;
	color: white;
	height: 30px;
	margin-top: 5px;
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.nopadding {
	padding: 0 !important;
}

.bagroundColorff766c {
	background-color: #A901DB;
}

.bagroundColorf5f5f5 {
	background-color: #f5f5f5;
}

.fontMenu {
	color: #bcb3aa;
	font-size: 14px;
}

.cardHeaderWhite {
	background-color: white;
}

.cardHeaderWhiteBorder {
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: #A901DB;
	border-width: 3px;
}

.paddingLeftRight {
	padding-left: 100px;
	padding-right: 100px;
}

.boxShadow {
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.14);
}

.new {
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 300px;
	display: block;
	overflow: hidden
}

.navBarWhiteBorder {
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-width: 1px;
}

.navBar {
	background-color: #A901DB;
	padding-left: 50px;
	padding-right: 50px;
	height: 45px;
}

.fontSize25 {
	font-size: 25px;
}

.cont {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 80px;
}

.postCont {
	padding-left: 12px;
	padding-right: 12px;
}